*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Tourney', cursive;
  color: black;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-columns: repeat(16, 6.25vw);
  grid-template-rows: repeat(16, 6.25vh);
  background: linear-gradient(rgb(205, 230, 238), rgba(#777e80, 0.9));
  // background-color: lightblue;
}

.hidden {
  opacity: 0;
}
