.game {
  grid-column: 6 / 12;
  grid-row: 4 / 14;
  font-size: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.5rem;
  padding: 0.5rem;
  justify-content: center;
  align-content: center;

  &__cell {
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
    padding-top: 3rem;
    background-color: #e3d6d5;
  }
}

.game__win {
  background-color: #6dfc85;
  transition: ease-out 1s;
}
